[submodule "lib/bats-core"]
	path = lib/bats-core
	url = https://github.com/bats-core/bats-core.git
[submodule "lib/tmux"]
	path = lib/tmux
	url = https://github.com/tmux/tmux
[submodule "dotfiles/dotfiles-bashrc"]
	path = dotfiles/dotfiles-bashrc
	url = https://github.com/gtsop/dotfiles-bashrc.git
